name: Run Unit Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  unittest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      # setting up Python
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.13'

      # upgrade pip, setuptools, wheel
      - name: Upgrade pip and build tools
        run: |
          python -m pip install --upgrade pip setuptools wheel

      # install system dependencies for building packages
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libssl-dev libffi-dev python3-dev

      # installing dependencies
      - name: Install Python dependencies
        run: |
          pip install --no-cache-dir -r requirements.txt

      # running unit tests
      - name: Run unit tests
        run: |
          python -m unittest discover -s tests -p "*.py"
